<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RUiN's Watermark Editor</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/form.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/convert.css')}}">
</head>
<body>
    <div class="header">
        <h1>RUiN's Watermark Editor</h1>
        <p>A Simple App to add digital watermark</p>
    </div>

    <div class="navbar">
		<a href="{{ url_for('convert') }}">IMG Converter</a>
		<a href="{{ url_for('watermark') }}">Watermark Editor</a>
		<a href="{{ url_for('extract') }}">Watermark Extractor</a>
		<a href="{{ url_for('homepage') }}" class="right">Home</a>
    </div>

    <div class="row">
        <section id="con_box">
            <form action='#' method="post" enctype="multipart/form-data">
                <div class="img_box"><img src="{{url_for('static', filename='')}}{{src}}" id="source_img"></div>
                <img hidden src="{{url_for('static', filename='')}}{{res}}" id="res_img">
                <div class="to">+</div>
                <div class="img_box"><img src="{{url_for('static', filename='')}}{{wm}}" id="wm_img"></div>
                    <div class="select_box">
                    <section class="file_choose">
                        <span>Please select your image:</span>
                        <label for="src">+</label>
                            <input style="display: none" type="file" id="src" name="src" />
                        <br><br>Please select an image as watermark:
                        <label for="wm">+</label>
                            <input style="display: none" type="file" id="wm" name="wm" />
                    </section>
                    </div>
                <br>
                <div class="tips">
                    You can select a source picture and add a watermark picture into it.<br>
                    It may takes 10~30 seconds to process according to the size.<br>
                    Remark: The source picture must be yours, but the watermark can be the default one as shown.
                </div>
                <p></p>
                <button for="upload" id="turnTo">Add Watermark
                    <input style="display: none" type="submit" id="upload"/>
                </button>
            </form>
                <p hidden id="canDownload">{{canDownload}}</p>
                <button id="download" onclick="downloadPic()">Download</button>
        </section>
    </div>

    <a id="downIMG"></a>

    <button onclick="topFunction()" class="button" id="myBtn" title="Back to top">Top</button>
	<script>
		window.onscroll = function() {scrollFunction()};
		function scrollFunction() {
			if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
				document.getElementById("myBtn").style.display = "block";
			} else {
				document.getElementById("myBtn").style.display = "none";
			}
		}
		function topFunction() {
			document.body.scrollTop = 0;
			document.documentElement.scrollTop = 0;
		}
	</script>

    <div class="footer">
		<h2>Created by 3180105640 RUiN</h2>
		<p>Copyright ©RUiN <span id="ym"></span></p>
  	</div>
	<script>
        var date = new Date();
        var y = date.getFullYear();
        var m = date.getMonth() + 1;
        document.getElementById("ym").innerHTML = y + "." + m;
    </script>

    <script type="text/javascript" src="{{url_for('static', filename='js/watermark.js')}}"></script>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
                var messages = {{ messages | safe }};
                for (var i=0; i<messages.length; i++) {
                    alert(messages[i]);
                }
            </script>
        {% endif %}
    {% endwith %}

</body>
</html>